@use "../utilities/mixin";

.card-container {
    @include mixin.flex(row, space-around, center);
}

.card {
    width: 500px;
    padding: 1rem;
    border: 1px solid black;
    border-radius: 1rem;
    background-color: white;
}

.card img{
    width: 100%;
}