header {
    background-image: linear-gradient(to bottom, white, darkgreen);
}

main {
    background-color: darkgreen;
}

footer {
    background-image: linear-gradient(to bottom, darkgreen, black);
}